---
http_interactions:
- request:
    method: get
    uri: https://query.yahooapis.com/v1/public/yql?callback=&diagnostics=true&env=store://datatables.org/alltableswithkeys&format=json&q=select%20*%20from%20yahoo.finance.historicaldata%20where%20symbol%20=%20%22GOOG%22%20and%20startDate%20=%20%222015-07-28%22%20and%20endDate%20=%20%222015-10-27%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - pprd1-node49-lh3.manhattan.ne1.yahoo.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":65,"created":"2015-10-28T02:08:53Z","lang":"en-US","diagnostics":{"url":[{"execution-start-time":"0","execution-stop-time":"228","execution-time":"228","content":"http://www.datatables.org/yahoo/finance/yahoo.finance.historicaldata.xml"},{"execution-start-time":"231","execution-stop-time":"310","execution-time":"79","content":"http://ichart.finance.yahoo.com/table.csv?a=6&b=28&e=27&g=d&c=2015&d=9&f=2015&s=GOOG"},{"execution-start-time":"314","execution-stop-time":"358","execution-time":"44","content":"http://ichart.finance.yahoo.com/table.csv?a=6&b=28&e=27&g=d&c=2015&d=9&f=2015&s=GOOG"}],"publiclyCallable":"true","cache":[{"execution-start-time":"230","execution-stop-time":"230","execution-time":"0","method":"GET","type":"MEMCACHED","content":"f0e3e3e33b4efdb0262d45cdb3e8bf18"},{"execution-start-time":"313","execution-stop-time":"313","execution-time":"0","method":"GET","type":"MEMCACHED","content":"85436bb1d58f56353807000d59658969"}],"query":[{"execution-start-time":"230","execution-stop-time":"312","execution-time":"82","params":"{url=[http://ichart.finance.yahoo.com/table.csv?a=6&b=28&e=27&g=d&c=2015&d=9&f=2015&s=GOOG]}","content":"select
        * from csv(0,1) where url=@url"},{"execution-start-time":"313","execution-stop-time":"359","execution-time":"46","params":"{columnsNames=[Date,Open,High,Low,Close,Volume,Adj_Close],
        url=[http://ichart.finance.yahoo.com/table.csv?a=6&b=28&e=27&g=d&c=2015&d=9&f=2015&s=GOOG]}","content":"select
        * from csv(2,0) where url=@url and columns=@columnsNames"}],"javascript":{"execution-start-time":"229","execution-stop-time":"435","execution-time":"205","instructions-used":"1705204","table-name":"yahoo.finance.historicaldata"},"user-time":"438","service-time":"351","build-version":"0.2.240"},"results":{"quote":[{"Symbol":"GOOG","Date":"2015-10-27","Open":"707.380005","High":"713.619995","Low":"704.549988","Close":"708.48999","Volume":"2224300","Adj_Close":"708.48999"},{"Symbol":"GOOG","Date":"2015-10-26","Open":"701.549988","High":"719.150024","Low":"701.26001","Close":"712.780029","Volume":"2701600","Adj_Close":"712.780029"},{"Symbol":"GOOG","Date":"2015-10-23","Open":"727.50","High":"730.00","Low":"701.50","Close":"702.00","Volume":"6642500","Adj_Close":"702.00"},{"Symbol":"GOOG","Date":"2015-10-22","Open":"646.700012","High":"657.799988","Low":"644.01001","Close":"651.789978","Volume":"3781700","Adj_Close":"651.789978"},{"Symbol":"GOOG","Date"[...]
[...]
