---
http_interactions:
- request:
    method: get
    uri: https://query.yahooapis.com/v1/public/yql?callback=&diagnostics=true&env=store://datatables.org/alltableswithkeys&format=json&q=select%20*%20from%20yahoo.finance.historicaldata%20where%20symbol%20=%20%22YHOO%22%20and%20startDate%20=%20%222015-07-30%22%20and%20endDate%20=%20%222015-10-30%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - pprd1-node497-lh2.manhattan.gq1.yahoo.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":66,"created":"2015-11-04T21:23:23Z","lang":"en-US","diagnostics":{"url":[{"execution-start-time":"0","execution-stop-time":"261","execution-time":"261","content":"http://www.datatables.org/yahoo/finance/yahoo.finance.historicaldata.xml"},{"execution-start-time":"266","execution-stop-time":"293","execution-time":"27","content":"http://ichart.finance.yahoo.com/table.csv?a=6&b=30&e=30&g=d&c=2015&d=9&f=2015&s=YHOO"},{"execution-start-time":"296","execution-stop-time":"319","execution-time":"23","content":"http://ichart.finance.yahoo.com/table.csv?a=6&b=30&e=30&g=d&c=2015&d=9&f=2015&s=YHOO"}],"publiclyCallable":"true","cache":[{"execution-start-time":"264","execution-stop-time":"265","execution-time":"1","method":"GET","type":"MEMCACHED","content":"b7ac5fb860695787459b9be1bcec9a9d"},{"execution-start-time":"295","execution-stop-time":"296","execution-time":"1","method":"GET","type":"MEMCACHED","content":"1a49eb2c31e41f13c5d0c175cb7496fd"}],"query":[{"execution-start-time":"265","execution-stop-time":"295","execution-time":"30","params":"{url=[http://ichart.finance.yahoo.com/table.csv?a=6&b=30&e=30&g=d&c=2015&d=9&f=2015&s=YHOO]}","content":"select
        * from csv(0,1) where url=@url"},{"execution-start-time":"296","execution-stop-time":"320","execution-time":"24","params":"{columnsNames=[Date,Open,High,Low,Close,Volume,Adj_Close],
        url=[http://ichart.finance.yahoo.com/table.csv?a=6&b=30&e=30&g=d&c=2015&d=9&f=2015&s=YHOO]}","content":"select
        * from csv(2,0) where url=@url and columns=@columnsNames"}],"javascript":{"execution-start-time":"263","execution-stop-time":"388","execution-time":"125","instructions-used":"1754451","table-name":"yahoo.finance.historicaldata"},"user-time":"391","service-time":"313","build-version":"0.2.311"},"results":{"quote":[{"Symbol":"YHOO","Date":"2015-10-30","Open":"35.139999","High":"35.700001","Low":"35.049999","Close":"35.619999","Volume":"17377200","Adj_Close":"35.619999"},{"Symbol":"YHOO","Date":"2015-10-29","Open":"34.869999","High":"35.150002","Low":"34.700001","Close":"35.049999","Volume":"10788300","Adj_Close":"35.049999"},{"Symbol":"YHOO","Date":"2015-10-28","Open":"34.299999","High":"35.27","Low":"34.299999","Close":"35.189999","Volume":"15050300","Adj_Close":"35.189999"},{"Symbol":"YHOO","Date":"2015-10-27","Open":"34.970001","High":"35.470001","Low":"33.880001","Close":"34.299999","Volume":"26362100","Adj_Close":"34.299999"},{"Symbol":"YHOO",[...]
